.git
.DS_Store
node_modules
**/node_modules
**/dist
**/.env
**/.env.local
.pnpm-store
coverage
test/output
infra/docker/postgres_data
infra/docker/object_storage_data
infra/docker/object_storage_logs
